.blank-row {
    margin-top: 10px;
}
.ac-holder {
    position: relative;
}
.record_summary {
    line-height: 0.7;
}

.record_title {
    font-size:larger;
}
.ac-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -6px;
    background-color: #ffffff;
}
.ac-form-control {
    outline: 0;
    border-color: #ECECEC;
    border-style: solid;
    border-width: 1px;
    width: 50%;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 0px;
    font-size: 14px;
}
.ac-submit-control {
    margin-bottom: 10px;
}
.ac-form-control-small {
    width: 72%;
}

.ac-form-control:-webkit-autofill {
    background-color: #fff !important;
}

.input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 100px white inset;
}

.ac-searching {
    color: #acacac;
    font-size: 14px;
}

.ac-hint {
    color: #acacac;
    font-size: 10px;
}
.ac-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;

}

.ac-selected-row, .ac-row:hover {
    background-color: lightblue;
    color: #ffffff;
}

.ac-highlight {
    font-weight:bold;
    color: #0000FF;
}
