<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>acitoolkit Visualizations</title>
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='acitoolkit.css')}}" />
</head>
<body>

<h1 align="left">ACI Toolkit Visualization Examples</h1>

<p><b><a class="hlink" href="/force">Endpoint Physical Location (Force
Diagram)</a></b></p>

<p class="tab">Shows the Endpoints and where they are connected in the physical
topology.</p>

<p><b><a class="hlink" href="/pie">Number of Endpoints per Tenant
(Pie Chart)</a></b></p>

<p class="tab">Shows the Number of Endpoints per Tenant in the form of a Pie Chart.</p>

<p><b><a class="hlink" href="/tree">EPG to Endpoint (Tree
Diagram)</a></b></p>

<p class="tab">Shows the Endpoints belonging to particular EPGs.</p>

<p><b><a class="hlink" href="/radial">EPG to Endpoint (Radial
Diagram)</a></b></p>

<p class="tab">Shows the Endpoints belonging to particular EPGs.</p>

<p><b><a class="hlink" href="/sunburst">EPG to Endpoints (Sunburst Diagram)</a></b></p>

<p class="tab">Shows the Endpoints belonging to EPGs in a zoomable
Sunburst diagram.</p>

<p><b><a class="hlink" href="/hierarchical">Endpoint relationships according
to EPGs (Hierarchical Bundling Diagram)</a></b></p>

<p class="tab">Shows the Endpoints that are providing and consuming
services from each other according to the Contracts.</p>

</body>
</html>
