<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
                <title>ACI Endpoint Tracker</title>
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css">

		<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript" charset="utf-8">
/* Custom filtering function which will search data in column four between two values */
$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var time_min = $('#min');
        var time_max = $('#max');
        var date_min = $('#date_min');
        var date_max = $('#date_max');
        var timestart = data[6]

        return true;
    }
);
 
$(document).ready(function() {
    var table = $('#example').DataTable();
     
    // Event listener to the two range filtering inputs to redraw on input
    $('#date_min', '#date_max', '#min, #max').keyup( function() {
        table.draw();
    } );
} );
		</script>
</head>
                <h1 ALIGN=Center>ACI Endpoint Tracker</h1>

	<body>
		<div class="container">

<table border="0" cellspacing="5" cellpadding="5">
        <tbody>
      </tbody></table>
    </table>
<table id="example" class="display" cellspacing="0" width="100%%">
        <thead>
            <tr>
                <th>Mac</th>
                <th>IP</th>
                <th>Tenant</th>
                <th>App</th>
                <th>EPG</th>
		        <th>Interface</th>
	 	        <th>Time Start</th>
		        <th>Time Stop</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Mac</th>
                <th>IP</th>
                <th>Tenant</th>
                <th>App</th>
                <th>EPG</th>
		<th>Interface</th>
		<th>Time Start</th>
		<th>Time Stop</th>
            </tr>
        </tfoot>
 
        <tbody>
        {{ data|safe }}
        </tbody>
    </table>
			
		</div>

<script type="text/javascript">
	// For demo to fit into DataTables site builder...
	$('#example')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
</script>
	</body>
</html>